<!-- payment_in_progress.html -->

{% extends 'shop/layouts/main.html' %}
{% block title %}
    Payment in Progress | JMR
{% endblock title %}

{% block content %}
    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-3">Payment in Progress</h4>
                    <hr style="border-color: #b8bfc2;">
                    <p>You successfully verified you aadhar details!😊<br></p>
                    <p><br></p>
                    <p>For payment, we request you to visit your nearest EQUANTIQUE Real Estates for Details.As for now, we will let you know our authentic way for land purchase.</p>
                    <p>1. We suggest you to visit our JMR real estates. Yoy can also contact us.</p>
                    <p>2. If you mention the land you might want to purchase, we will assign an agent who will assist you to the property for inspection.</p>
                    <p>3. If you are satisfied with the property, you can let us know your feedbacks about the land and any other parameter you might want to know about it.</p>
                    <p>4.If everything is fine with your side, you can proceed with the payment or apply loans.</p>
                    <p>5. We will provide you with the payment receipt and the property documents.</p>
                    <p>6. You can also request for a lawyer to verify the documents.</p>
                    <p><b>Don't Hesitate To Reach Us!</b></p>
                    <!-- You can add more information or loading indicators as needed -->
                    
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
